<app-navbar2></app-navbar2>
<div class="main">
  <div class="sidebar">
    <button class="menu-link">Pizza</button>
    <button class="menu-link">Vegetarian</button>
    <button class="menu-link">Dessert</button>
    <button class="menu-link">Drinks</button>
  </div>
  <div class="menu-content">
    <div class="menu-item-container">
      <div class="menu-item">
        <div class="photo-container">
          <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216054.jpg">
        </div>
        <div class="menu-desc">
          <h4>Pizza</h4>
          <p>ingredients, ingredients, ingredients</p>
          <p>8.00 KM</p>
        </div>
      </div>
      <div class="add-button-container">
        <button class="add-button">
          <p>+</p>
        </button>
      </div>
    </div>
    <div class="menu-item-container">
      <div class="menu-item">
        <div class="photo-container">
          <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216054.jpg">
        </div>
        <div class="menu-desc">
          <h4>Pizza</h4>
          <p>ingredients, ingredients, ingredients</p>
          <p>8.00 KM</p>
        </div>
      </div>
      <div class="add-button-container">
        <button class="add-button">
          <p>+</p>
        </button>
      </div>
    </div>
    <div class="menu-item-container">
      <div class="menu-item">
        <div class="photo-container">
          <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216054.jpg">
        </div>
        <div class="menu-desc">
          <h4>Pizza</h4>
          <p>ingredients, ingredients, ingredients</p>
          <p>8.00 KM</p>
        </div>
      </div>
      <div class="add-button-container">
        <button class="add-button">
          <p>+</p>
        </button>
      </div>
    </div>
    <div class="menu-item-container">
      <div class="menu-item">
        <div class="photo-container">
          <img src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216054.jpg">
        </div>
        <div class="menu-desc">
          <h4>Pizza</h4>
          <p>ingredients, ingredients, ingredients</p>
          <p>8.00 KM</p>
        </div>
      </div>
      <div class="add-button-container">
        <button class="add-button">
          <p>+</p>
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>
