<app-navbar2></app-navbar2>

<div class="main">
  <div class="empty"></div>
  <div class="UpdatePass-Container">
    <h2>Update password</h2>
    <label class="label">Old password:</label>
    <div class="password-div">
      <input class="inputpass" [type]="passwordType1"/>
      <label class="labeleye" (click)="togglePassword1()">👁️</label>
    </div>

    <label class="label">New password:</label>
    <div class="password-div">
      <input class="inputpass" [type]="passwordType1"/>
      <label class="labeleye" (click)="togglePassword1()">👁️</label>
    </div>
    <label class="label">New Password again:</label>
    <div class="password-div">
      <input class="inputpass" [type]="passwordType1"/>
      <label class="labeleye" (click)="togglePassword1()">👁️</label>
    </div>
    <div class="btncontainer">
      <button class="btn">Change</button>
    </div>
  </div>
</div>

<app-footer2></app-footer2>
