<div class="main-div">
  <div class="first">
    <h2>𝓢𝓪𝓻𝓪𝓳𝓵𝓲𝓳𝓪 ™</h2>
    <div class="img">
      <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
           (click)="goToLink('https://www.instagram.com/uzbihuzuren/?hl=hr')">
    </div>
    <div class="img">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733635.png"
           (click)="goToLink('https://www.instagram.com/uzbihuzuren/?hl=hr')">
    </div>
  </div>
  <div class="second">
      <div class="infocontainer">
        <h3>Phone: </h3><h4>033/658-049</h4>
      </div>
    <div class="infocontainer">
      <h3>EMail: </h3><h4>Sarajlije@gmail.com</h4>
    </div>
  </div>
</div>
